PORT=3000

STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...

PAYPAL_CLIENT_ID=...

ADMIN_USERNAME=admin
ADMIN_PASSWORD=cambia_questa_password
JWT_SECRET=cambia_questo_segreto

EMAIL_USER=tuaemail@gmail.com
EMAIL_PASS=app_password_gmail
EMAIL_ADMIN=admin@email.com

INSTAGRAM_SESSION_ID=